.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: calc(var(--spacer) * var(--line-height) * 1.5);
  margin-bottom: calc(var(--spacer) * var(--line-height) * 3);
  max-width: 720px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  .navbar {
  max-width: 900px;
}
}

.logolink svg {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  fill: var(--text-color-light);
  margin-left: auto;
  margin-right: auto;
  transition: fill .2s cubic-bezier(.645,.045,.355);
  transition: 0.2s var(--easing);
}

.logotitle {
  display: block;
  position:absolute;
  font-size: var(--font-size-mini);
  color: var(--brand-grey-light);
  opacity: 0;
  transform: translate3d(0.8rem, 0, 0);
  transition: 0.2s var(--easing);
  transition-delay: .2s;
}

.logolink:hover svg,
.logolink:focus svg {
  fill: var(--brand-cyan);
}

.logolink:hover .logotitle,
.logolink:focus .logotitle {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

}

.menu > a {
  margin-left: 20px;
  font-size: 14px;
}

.menu > div {
  margin-left: 30px;
}
